@font-face {
    font-family: Chosence;
    src: url('../fonts/Chosence_Regular.otf');
}

/* Common definitions for all layouts. */
body {
    font-family: "Chosence", sans-serif;
    margin: 0;
    padding: 0;
    width: 1920px;
    height: 1080px;
    position: absolute;

    /* Colour definitions across layouts. */
    --text-color-dark: #343434;
    --text-color: rgba(90, 173, 179, 1);
    --text-background: #343434;
    --text-color-alt: orange;
    --text-background-alt: rgba(90, 173, 179, 1);
    --text-background-alt-transparent: rgba(90, 173, 179, 0.3);
    --game-details-color: orange;
    --game-details-background: rgba(90, 173, 179, 1);
    --timer-color: #343434;
    --timer-background: rgba(90, 173, 179, 1);
    --timer-color-alt: rgba(90, 173, 179, 1);
    --timer-background-alt: white;
    --logo-color: rgba(90, 173, 179, 1);
    --logo-year-color: orange;
    --logo-background: rgba(255, 255, 255, 1);
    --custom-color: white;
    --game-feed-border-color: #343434;
    --game-feed-chroma-key: #00ff00;

    --timer-stopped-color: rgba(90, 173, 179, 1);
    --timer-stopped-background: #343434;
    --timer-running-color: #3ace3a;
    --timer-running-background: #343434;
    --timer-paused-color: #666;
    --timer-paused-background: #ccc;
    --timer-finished-color: rgb(255,215,0);
    --timer-finished-background: #a17f1a;
}
