div {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    --sidebar-width: 554px;
}

.wrapper {
    font-family: "Chosence", sans-serif;
    color: white;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    position: relative;
}

.sidebar {
    position: absolute;
    width: 1920px;
    height: 200px;
    bottom: 0;
    font-size: 48px;
    background-color: var(--text-background-alt-transparent);
}

#event-logo-container {
    position: absolute;
    z-index: 9999;
    text-align: center;
    letter-spacing: 15px;
    transform: rotate(-20deg);
    bottom: 0;
    right: 0;
    background: var(--logo-background);
    padding: 8px 20px 100px 230px;
    margin: 0 -50px -105px 0;
    outline: 20px solid rgba(255, 255, 255, 0.3);
}

#event-logo {
    display: none;
    height: 160px;
}

#event-logo-name {
    display: inline-block;
    font-size: 60px;
    color: var(--logo-color);
    text-shadow: 0 0 3px var(--logo-color), 0 0 3px var(--logo-color), 0 0 3px var(--logo-color), 0 0 3px var(--logo-color);
}

#event-logo-year {
    display: inline-block;
    font-size: 60px;
    color: var(--logo-year-color);
    text-shadow: 0 0 3px var(--logo-year-color), 0 0 3px var(--logo-year-color), 0 0 3px var(--logo-year-color), 0 0 3px var(--logo-year-color);
}

#donation-total {
    display: none;
    position: absolute;
    bottom: 0;
    background-color: var(--text-color);
    width: var(--sidebar-width);
    height: 144px;
    line-height: 144px;
    font-size: 100px;
    text-align: center;
}

.schedule {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    height: 160px;
    overflow: hidden;
}

.coming-up-wrapper, .on-deck-wrapper {
    display: inline-block;
    float: left;
}

.coming-up-title {
    padding: 0 20px;
    max-width: var(--sidebar-width);
    height: 60px;
    line-height: 60px;
    font-size: 48px;
    color: var(--text-color);
    background: white;
}

.coming-up-info {
    padding: 4px 20px;
    min-height: 100px;
    width: auto;
    background: var(--text-color);
    white-space: nowrap;
}

.coming-up-runner {
    font-size: 30px;
}

.on-deck-wrapper {
    margin-left: 20px;
    background: white;
    display: inline-block;
    float: left;
}

.on-deck-title {
    height: 60px;
    line-height: 60px;
    color: var(--text-color);
    padding: 0 20px;
}

.on-deck-info {
    float: left;
    background: var(--text-color);
    padding: 4px 20px;
    min-height: 100px;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
}

.on-deck-name, .coming-up-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.on-deck-runner {
    font-size: 30px;
}

#custom {
    float: left;
    display: inline-block;
    color: var(--custom-color);
    font-size: 28px;
    white-space: pre-wrap;
    width: 400px;
    padding: 20px 0 0 20px;
    margin-top: -20px;
    height: 200px;
}
